.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}  
.menuLink {
    font-size: 6.3rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.5ms ease-in-out;
    border-radius: 0.8rem;
    padding: 1.2rem;
    
    &:hover {
        filter: brightness(80%);
    }
} 
.menuLink svg {
    width: 4.6rem;
    height: 4.6rem;
}